.divcontador {
    display: flex;
    flex-direction: row;
    align-items: center;

    .btn-container {
        display: flex;
        flex-direction: row;
        .btnrestar {
            width: 35px;
            border: 1px solid #3A7B99;
            border-radius: 15px;
            color: #3A7B99;
            background: #FCF7F4;
        }

        .btnsumar {
            width: 35px;
            border: 1px solid #3A7B99;
            border-radius: 15px;
            color: #3A7B99;
            background: #FCF7F4;
        }
    }

    .btnagrcarrito {
        width: 150px;
        margin: 0 15px 0 15px;
        font-size: 14px;
        border: 1px solid #3A7B99;
        border-radius: 15px;
        color: #3A7B99;
        background: #FCF7F4;
    }

    h2 {
        font-size: 22px;
        margin-top: 10px;
    }

    h3 {
        margin: 0 7px 0 7px;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-variant-numeric: tabular-nums;
    }
}