.NotificationCloud{
    position: absolute;
    top: 180px;
    right: 550px;
    width: auto;
    height: auto;
    border-radius: 25px;
    color: #FCF7F4;
    opacity: 0.8;
    padding: 10px 20px 10px 20px;
}