nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #3B8AC3;
}

h1{
    margin-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    margin-top: 250px;
}
.btn{
    width: 150px;
    border: 1px solid black !important;
    margin-right: 25px;
}

.cartcontainer{
    margin-right: 25px;
}

.cartcontainer img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
